# using a base image
FROM python:3.9.16-alpine3.17

# define how to build
WORKDIR /code
COPY ./requirements.txt /code/requirements.txt
RUN pip install --no-cache-dir --upgrade -r /code/requirements.txt
COPY ./app /code/app

# define how to run
CMD ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "80"]